* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  background-image: url(./resources/qa-bg.jpg);
  font-family: "Outfit", sans-serif;
}
.header {
  position: absolute;
  top: 0;
  margin: 4rem 0;
}
.qr-container {
  border: 1px solid #263fa9;
  width: 40%;
  border-radius: 10px;
  background: #030616;
}
.qr-input {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  margin: 5px;
}
.qr-input input {
  padding: 1rem 0.5rem;
  font-size: 17px;
}
#qr-input {
  background: transparent;
  outline: none;
  border: none;
  color: #f2f5f9;
}
#get-qr {
  border-radius: 10px;
  background: #263fa9;
  color: #fafaf9;
  cursor: pointer;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fafaf9;
  gap: 10px;
}
.preview {
  background: #fafaf9;
  margin: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
}
footer a {
  color: #fafaf9;
  text-decoration: none;
}
